h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}
#header h1 {
	font-size: 4rem;
	margin: 0;
	padding: 1rem;
	letter-spacing: .9rem;
}
h2 {
	font-size: 2rem;
	letter-spacing: .6rem;
}
/* NAV LINKS ================== */
nav a.link {
	color: #333;
	margin-right: 2rem;
	text-transform: uppercase;
	letter-spacing: .4rem;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
nav a.link:hover {
	border-bottom: 2px solid #777772;
	transition: border-bottom 0.2s;
}
/* ================== ICONS for coding languages */
#icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	padding: 1rem;
	background-color: #eee;
}
#icons img {
	padding: .6rem .6rem 1rem .6rem;
	height: 6rem;
	width: auto;
}
/* ===================IMG  */
#pic {
	margin-top: 1rem;
	margin-right: 5rem;
	height: 16rem;
	width: 16rem;
	border: 1rem solid #777772;
}
/* ================== PROJECTS */
.box {
	list-style-type: none;
	margin: 2rem 0;
	border: 1px black solid;
	/* ???????????????? */
	/* max-width: 30vw; */
}
.box ul {
	text-align: center;
}
.box h3 {
	padding: 1rem;
	background-color: #777772;
	color: #fff;
}
.box li {
	padding: .5rem;
	list-style-type: none;
}
ul li a{
	font-size: 1.5rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	text-decoration: none;
}
.explanation,
.stack {
	text-align: justify;
	min-height: 5rem;
	max-width: 30rem;
}
.image {
	height: 25rem;
	width: auto;
}
ul li:nth-child(3) {
	background-color:#fff;
	color: #000;
}
ul li:nth-child(4) {
	background-color:#fff;
	color: #000;
}
ul li:nth-child(5) {
	background-color: #eee;
	color: #999;
}
ul li:nth-child(5):hover {
	background-color: #DFF0D8;
	color: #2b5434;
}
ul li:nth-child(6) {
	background-color: #eee;
	color: #999;
}
ul li:nth-child(6):hover {
	background-color: #DFF0D8;
	color: #2b5434;
}
#contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#contact address {
	line-height: 2rem;
	letter-spacing: .3rem;
	margin-bottom: 2rem;
	font-size: 1.4rem;
}
#contact-title {
	text-align: center;
	padding: 2rem;
}
#contact-copy {
	text-align: center;
	font-size: .6rem;
	padding-top: 1rem;
	color: #000;
}