/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media only screen and (max-width: 630px) {
	#header {
		display: flex;
		flex-direction: column
	}
	#topper {
		text-align: center;
		padding: 0;
		border-bottom: 1px solid #999;
	}
	nav {
		flex-direction: column;
		justify-content: center;
		margin-top: 0;
		}
	nav a.link {
		text-align: center;
		padding-top: .4rem;
		border-bottom: 1px solid #999;
		padding: .5rem;
		background-color: #eee;
		color: #000;
	}
	nav a.link:hover {
		background-color: #999;
		color: #EEE;
	}
	.sticky + #address-topper {
		padding-top: 13rem;
	}
	#address {
		padding-left: 4rem;
		padding-top: 1rem;
		line-height: 1.5rem;
		letter-spacing: .2rem;
		font-size: 1.6rem;
	}
	#pic {
		margin-top: .5rem;
		margin-right: 4rem;
		height: 12rem;
		width: 12rem;
		border: .5rem solid #777772;
	}
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media only screen and (max-width: 520px) {
	#pic {
		height: 10rem;
		width: 10rem;
		margin-right: 3rem;
	}
	#address {
		padding-left: 2rem;
		-webkit-clip-path: polygon(0 0,100% 0%, 80% 100%, 0% 100%);
		clip-path: polygon(0 0,100% 0%, 80% 100%, 0% 100%);
	}
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media only screen and (max-width: 360px) {
	.sticky + #address-topper {
		padding-top: 13rem;
	}
	#address-topper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	#my-image {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	#pic {
		height: 8rem;
		width: 8rem;
		margin-right: 0;
		margin-top: -9rem;
		z-index: 1;
	}
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media only screen and (max-width: 340px) {
	.sticky + #address-topper {
		padding-top: 17rem;
	}
}